image:
  name: ghcr.io/openmfp/iam-service
  tag: latest
  pullPolicy: IfNotPresent

hostname: api.d1.openmfp.dxp.k8s.ondemand.com

imagePullSecrets: "github"

health:
  port: 8081

metrics:
  port: 8080

deployment:
  revisionHistoryLimit: 3
  resources:
    limits:
      cpu: 260m
      memory: 512Mi
    requests:
      cpu: 150m
      memory: 128Mi

openfga:
  disableLegacyQueries: false
  eventing:
    enabled: false
  grpcAddr: openfga:8081
  eventingEnabled: true
  port: 8081

domain:
  path: /iam
  prefix: iam

gateway:
  name: dxp-gateway

## --- Istio and Shared Configuration
port: 8080

istio:
  enabled: true

## --- OpenFga Configuration
redirectToOpenFGA:
  expand:
    path: openfga.v1.OpenFGAService/Expand
  check:
    path: openfga.v1.OpenFGAService/Check
  read:
    path: openfga.v1.OpenFGAService/Read
  get:
    path: openfga.v1.OpenFGAService/Get
  streamed:
    path: openfga.v1.OpenFGAService/Streamed
  list:
    path: openfga.v1.OpenFGAService/List
  reflect:
    path: grpc.reflection.v1.ServerReflection
  reflect-alpha:
    path: grpc.reflection.v1alpha.ServerReflection

fga:
  grpc:
    fullAccessServiceAccounts:
      - cluster.local/ns/dxp-system/sa/account-operator-sa
      - cluster.local/ns/dxp-system/sa/accountextension-operator-sa
      - cluster.local/ns/dxp-system/sa/organizations-service
      - cluster.local/ns/dxp-system/sa/extension-manager-service
    accessRequestPrincipals: []

features:
  open-fga-enabled: true


db:
  inMemory: false # if false, a PostgreSQL connection will be established
  postgresNeedsProvision: true   # if true a PostgreSQL instance will be created
  deployExternalSecret: false    # if true, an external secret will be created

# Bitnami PostgreSQL Helm chart values
# https://github.com/bitnami/charts/blob/main/bitnami/postgresql/values.yaml
global:
  postgresql:
    auth:
      existingSecret: ""   # leave it empty to let bitnami/postgresql create a secret
      secretKeys:
        adminPasswordKey: "postgres-password" # Only used when `global.postgresql.auth.existingSecret` is set.
        userPasswordKey: "password"           # Only used when `global.postgresql.auth.existingSecret` is set.
      username: "iam-service"
      database: "iam-service"
