{{- if ((.Values).dataloader).enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-dataloader-groups
  namespace: {{ .Release.Namespace }}
  annotations:
    argocd.argoproj.io/hook: Sync
    argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
data:
{{- with .Values.dataloader.iamData }}
  groups.yaml: |
    {{- toYaml . | nindent 4 }}
  roles.yaml: |
    {{- toYaml .roles | nindent 4 }}
{{- end }}
{{- with .Values.tenantConfigurations  }}
  tenantConfigurations.yaml: |
    {{- . | nindent 4 }}
{{- end }}
{{- end }}
