apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: iam-db
  namespace: {{ .Release.Namespace }}
spec:
  refreshInterval: 10m
  secretStoreRef:
    kind: SecretStore
    name: environment-store
  target:
    creationPolicy: Owner
    deletionPolicy: Retain
    name: {{ .Values.databaseSecretName }}
  data:
  - remoteRef:
      conversionStrategy: Default
      key: dxp-core-team/app-cluster/manual-secrets/iam-db
      property: password
    secretKey: password
  - remoteRef:
      conversionStrategy: Default
      key: dxp-core-team/app-cluster/manual-secrets/iam-db
      property: user
    secretKey: user